 <section class="container section-first">
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="/admin/dash"><span class="typcn typcn-device-desktop"></span></a></li>
          <li><a href="/admin/packs"><span class="typcn typcn-gift"></span> Packs</a></li>          
          <li class="active"><a href=""><span class="typcn typcn-gift green"></span> {{data.title}}</a></li>
        </ol>
        <div class="row">
            <div class="add-animation text-left">
                <h2 class="text-center">
                    <span class="typcn typcn-edit green"></span> {{data.title}}
                    <a href="" ng-click="delete()">
                        <span class="typcn typcn-times-outline"></span>
                    </a>
                </h2>
                <div class="separator-container">
                    <div class="separator line-separator"><span class="typcn typcn-wi-fi"></span></div>
                </div>
                <form class="form col-md-8" ng-submit="submit()">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" type="text" class="form-control" ng-model="data.title">
                    </div>
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input id="slug" type="text" class="form-control" ng-model="data.slug">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price" type="text" class="form-control" ng-model="data.price">
                    </div>
                    <div class="form-group">
                        <label for="caption">Caption</label>
                        <textarea id="caption" type="text" class="form-control" ng-model="data.caption"></textarea>
                    </div>                    
                    <div class="form-group">
                        <label for="content">Feature list</label>
                        <textarea id="content" type="text" class="form-control" ng-model="data.content"></textarea>
                    </div>  
                    <label for="fulltext">Content</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <summernote airMode id="fulltext" ng-model="data.fulltext"></summernote>
                        </div>
                    </div>

                    <div class="well">
                        <input type="submit" class="btn btn-success" value="Update"> 
                        <input type="reset" class="btn btn-warning" value="Clear"></input>
                    </div>                                 
                </form>
            </div>
        </div>
    </div>
</section>