<section class="container section-first">
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="/"><span class="typcn typcn-home-outline"></span></a></li>
          <li class="active"><a href=""><span class="typcn typcn-device-desktop"></span> Dashboard</a></li>
        </ol>
        <div class="row">
            <div class="title">
                <h2><span class="typcn typcn-device-desktop"></span> Dashboard</h2>
                <div class="separator-container">
                    <div class="separator line-separator"><span class="typcn typcn-wi-fi"></span></div>
                </div>
                
                <p>Welcome to your panel administration dashboard.</p>

                <a href="/admin/users">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-box">
                            <span class="typcn typcn-user typcn-big-fix"></span>
                            <span class="title">Users</span>
                        </div>
                    </div>
                </a>
                <a href="/admin/posts">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-box">
                            <span class="typcn typcn-edit typcn-big-fix"></span>
                            <span class="title">Posts</span>
                        </div>
                    </div>
                </a>
                <a href="/admin/packs">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-box">
                            <span class="typcn typcn-gift typcn-big-fix"></span>
                            <span class="title">Packs</span>
                        </div>
                    </div>
                </a>                
            </div>
        </div>
    </div>
</section>
