<div class="section section-we-made-3">
    <div class="container">
        <div class="row">
            <div class="title add-animation">
                <h2><i class="typcn typcn-business-card green"></i> Credencial</h2>
                <div class="separator-container">
                    <div class="separator line-separator"><span class="typcn typcn-wi-fi"></span></div>
                </div>
               
                <a href="/{{jwt.data.role}}/dash"><span class="typcn typcn-device-desktop"></span> Escritorio</a>&nbsp;&nbsp;
                <a href="" ng-click="logout();"><span class="typcn typcn-lock-open-outline"></span> Cerrar sesión</a>&nbsp;&nbsp;
                <a href="" onclick="javascript:window.print();"><span class="typcn typcn-printer"></span> Imprimir</a>
                <br><br>

                <table class="table table-striped">
                    <tr>
                    <td class="text-right">Nombre</td>
                    <td class="text-left text-muted">{{jwt.data.name}}</td>
                    </tr>

                    <tr>
                    <td class="text-right">Email</td>
                    <td class="text-left text-muted">{{jwt.data.email}}</td>
                    </tr>

                    <tr>
                    <td class="text-right">Rol</td>
                    <td class="text-left text-muted">{{jwt.data.role}}</td>
                    </tr>

                    <tr>
                    <td class="text-right">Grupo</td>
                    <td class="text-left text-muted">{{jwt.data.group}}</td>
                    </tr>

                    <tr>
                    <td class="text-right">Sesiones</td>
                    <td class="text-left text-muted">{{jwt.data.session_count}}</td>
                    </tr>                    

                    <tr>
                    <td class="text-right">Sesión válida hasta</td>
                    <td class="text-left text-muted">{{jwt.data.session_exp}}</td>
                    </tr>                    
                </table>
            </div>
        </div>
    </div>
</div>
