<section class="container section-first">
    <ol class="breadcrumb">
      <li><a href="/main"><span class="typcn typcn-home-outline"></span></a></li>
      <li class="active"><a href=""><span class="typcn typcn-warning green"></span> Sesión expirada</a></li>
    </ol>
    <h1 class="page-header"><span class="typcn typcn-warning green"></span> Su sesión ha expirado</h1>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="col-sm-7" ng-if="!jwt">Ya tienes una cuenta ¿deseas iniciar sesión? <a href="/login">Iniciar sesión</a></div>
                    </div><!-- /widget-main -->
                </div><!-- /widget-body -->
            </div><!-- /login-box -->
        </div><!-- /position-relative -->
        </div>
    </div>
</section>