<section class="container section-first">
    <div class="col-sm-12">
        <ol class="breadcrumb">
          <li><a href="/main"><span class="typcn typcn-home-outline"></span></a></li>
          <li class="active"><a href=""><span class="typcn typcn-user-add-outline green"></span> Create account</a></li>
        </ol>
    </div>
    <h1 class="page-header"><span class="typcn typcn-user-add-outline green"></span> Create account</h1>

    <div class="col-sm-10 col-sm-offset-1">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">

                    <form name="signupForm" class="form-horizontal" role="form" ng-if="!jwt">
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="title">Login name</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="Ulrike" ng-model="signup.login"/>
                                </span>
                            </div>
                        </div>                      
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="ulrikereinhard@dayrep.com" ng-model="signup.email" focus/>
                                    <span ng-show="signupForm.email.$error.email" class="help-inline">Email not valid</span> 
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="Password" ng-model="signup.pass" required/>
                                    <small class="errorMessage" data-ng-show="signupForm.pass.$dirty && signupForm.pass.$invalid"> Enter password.</small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm password</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
                                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Please enter your password again.</small>

                                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Passwords must match.</small>

                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="Ulrike Reinhard" ng-model="signup.name"/>
                                </span>
                            </div>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="phone">Phone</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="06221 34 64 57" ng-model="signup.phone"/>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="address">Address</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="Scharnweberstrasse 75" ng-model="signup.address" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="city">City</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="69221 Dossenheim" ng-model="signup.city" />
                                </span>
                            </div>
                        </div>                            
                        <div class="form-group">
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">
                                <button type="submit" class="width-35 pull-right btn" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                    Create account
                                </button>
                            </div>
                        </div>
                        </fieldset>
                        <span class="lbl col-sm-5"> </span>
                        <div class="col-sm-7">Already a member? <a href="/signin">Start session</a>
                        </div>
                    </form>
                    <div class="col-sm-7" ng-if="jwt">You have one active session on this site. Wanna end session anyway? <a href="" ng-click="logout();">Logout</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.page-content -->