 <section class="container section-first">
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="/admin/dash"><span class="typcn typcn-device-desktop"></span></a></li>
          <li><a href="/admin/posts"><span class="typcn typcn-edit"></span> Posts</a></li>
          <li class="active"><a href="">{{data.title}}</a></li>
        </ol>
        <div class="row">
            <div class="add-animation text-left">
                <h2 class="text-center">
                    <span class="typcn typcn-edit green"></span> {{data.title}} 
                    <a href="" ng-click="delete()">
                        <span class="typcn typcn-times-outline"></span>
                    </a>
                </h2>
                <div class="separator-container">
                    <div class="separator line-separator"><span class="typcn typcn-wi-fi"></span></div>
                </div>
                <form class="form col-md-8" ng-submit="submit()">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input id="title" type="text" class="form-control" ng-model="data.title">
                    </div>
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input id="slug" type="text" class="form-control" ng-model="data.slug">
                    </div>
                    <div class="form-group">
                        <label for="caption">Introducción</label>
                        <textarea id="caption" type="text" class="form-control" ng-model="data.caption"></textarea>
                    </div>                    
                    <label for="fulltext">Texto</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <summernote airMode id="fulltext" ng-model="data.content"></summernote>
                        </div>
                    </div>

                    <div class="well">
                        <input type="submit" class="btn btn-success" value="Update"> 
                        <input type="reset" class="btn btn-warning" value="Clear"></input>
                    </div>                                 
                </form>
                <div class="col-md-4">
                    <label><span class="typcn typcn-tags"></span> Tags </label>
                    <div ng-controller="tageditor" data-namespace="post" class="text-left tags">
                        <div class="input-group">
                          <input type="text" id="tags-add" class="form-control" placeholder="news promos etc ..." />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="tag_add()"><span class="typcn typcn-tag"></span></button>
                          </span>
                        </div>
                        <div class="tags-included">
                            <a href="" ng-click="tag_exclude(tag)" class="label label-success label-badge btn-tag-included" ng-repeat="tag in included">{{tag}}</a>
                        </div>
                        <div class="tags-excluded">
                            <a href="" ng-click="tag_include(tag)" class="label label-info label-badge btn-tag-excluded" ng-repeat="tag in excluded">{{tag}}</a>                            
                        </div>
                    </div><hr>
                    <label><span class="typcn typcn-attachment-outline"></span> Archivos</label>
                    <form 
                        action="/upload" 
                        data-namespace="post" 
                        data-domain="posts" 
                        class="dropzone" 
                        dropzone="" 
                        id="file-dropzone"></form>

                    <span class="text-muted"><span class="typcn typcn-time"></span>  {{ data.updated | readableTime }}</span>
                </div>                
            </div>
        </div>
    </div>
</section>
